@import "partials/reset.scss";
@import "partials/typography.scss";

$primary-color: #333;

body {
  font: $base;
  color: $primary-color;
}

.horizontal-center {
	margin: 0 auto;
}

.container {
	max-width: 50em;
	padding: 0 1em;
	@extend .horizontal-center;
}